<div class="x-scroller" style="margin-bottom: 16px;">
    <table class="fragment">
        <tr>
            <th><a class="link" href="/read/<%= document.id %>"><%= document.title %></a></th>
            <th class="right"><%= document.date %></th>
        </tr>
        <tr>
            <td colspan="2">
                <% unless document.is_encoded? %>
                    <div class="markdown-content"><%= document.content %></div>
                <% else %>
                    <%= erb :_cipher, locals: { document: document } %>
                <% end %>
            </td>
        </tr>
    </table>
</div>