<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <table>
                <tr>
                    <th><a class="link" href="/writings">Writings ⇢</a></th>
                </tr>
                <% content[:writings].each do |entry| %>
                    <tr>
                        <td><a class="link" href="/read/<%= entry[:id] %>">
                            <%= entry[:title] %>
                        </a></td>
                        <td class="right"><%= entry[:date] %></td>
                    </tr>
                <% end %>
            </table>

            <table>
                <tr>
                    <th><a class="link" href="/fragments">Fragments ⇢</a></th>
                </tr>
                <% content[:fragments].each do |entry| %>
                    <tr>
                        <td><a class="link" href="/read/<%= entry[:id] %>">
                            <%= entry[:title] %>
                        </a></td>
                        <td class="right"><%= entry[:date] %></td>
                    </tr>
                <% end %>
            </table>

            <table>
                <tr>
                    <th><a class="link" href="/pictures">Pictures ⇢</a></th>
                </tr>
            </table>

            <div id="pictures">
                <% content[:pictures].each do |entry| %>
                    <div><img
                        style="cursor: crosshair;"
                        onclick="window.location = '/read/<%= entry[:id] %>'"
                        src="<%= entry[:thumbnail_file_path] %>"
                    /></div>
                <% end %>
            </div>
        </div>
    </div>
</body>

</html>
