<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>Louis Machin</title>
    <description>Louis Machin's personal feed</description>
    <link>https://louismachin.com</link>
    <lastBuildDate><%= last_build_date %></lastBuildDate>
    <pubDate><%= pub_date %></pubDate>
    <ttl>1440</ttl>
    <% content.each do |doc| %>
        <item>
            <title><%= doc.title %></title>
            <description><%= doc.description %></description>
            <link><%= doc.link %></link>
            <guid isPermaLink="false"><%= doc.id %></guid>
            <pubDate><%= doc.pub_date %></pubDate>
        </item>
    <% end %>
    <atom:link href="https://louismachin.com/rss.xml" rel="self" type="text/xml" />
</channel>
</rss>