<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <%= erb :_toolbox, locals: { links: { "Edit" => "/write/#{@document.id}", }} %>
            <% if @document.is_encoded? && is_not_logged_in? %>
                <%= erb :_cipher, locals: { document: document, title: 'This is a work in progress.' } %>
            <% else %>
                <%= erb :_markdown, locals: { content: render_markdown(document.uri) } %>
            <% end %>
        </div>
    </div>
</body>

</html>
